body{
    margin: 0px;
    padding: 0px;

    background-color: #BAFF73;

    font-size: 20px;
}

div{
    margin-bottom: 10px;
}

button{
    font-size: 20px;
    width: 100%;
}

input{
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

.center-text{
    text-align: center;
}