body{
    margin: 0px;
    padding: 0px;

    background-color: #ffcd00;

    font-size: 20px;
}

div{
    margin-bottom: 10px;
}

button{
    font-size: 20px;
    width: 100%;
}

input{
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

select{
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

.center-text{
    text-align: center;

    font-weight: bold;
    font-size: 32px;
}