.text{
    margin-left: 10px;
    margin-top:20px;
    margin-right: 10px;
    margin-bottom: 10px;
    
    border-style: solid;
    border-width: 3px;
    border-color:#90EE90;

    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;

    height: 300px;
    width: 300px;

    background-color: #F0FFFF;
}

.box{
    display: flex;
}
img{
    margin: 10px;
}