.first{
    background-color: blue;
    height: 150px;
    width: 150px;

    position: relative;
    left: 100px;
    top: 100px;

    z-index: 2;
}
.second{
    background-color: red;
    height: 150px;
    width: 150px;

    position: relative;
    left: 200px;
    top: 50px;

    z-index: 1;
}
.third{
    background-color: green;
    height: 150px;
    width: 150px;

    position: relative;
    left: 300px;
    top: 20px;

    z-index: 0;
}