.first{
    background-color: blue;
    height: 150px;
    width: 600px;
}

.second{
    display: flex;
}
.third{
    background-color: red;
    height: 150px;
    width: 300px;
}

.fourth{
    background-color: green;
    height: 150px;
    width: 300px;
}