.first{
    display: flex;
}

.second{
    height: 150px;
    width: 150px;

    border: 5px;
    border-style: solid;
    border-color: blue;

    margin: 10px;
}
.third{
    height: 150px;
    width: 150px;

    border: 5px;
    border-style: solid;
    border-color: green;

    margin: 10px;
}

.fourth{
    height: 150px;
    width: 150px;

    border: 5px;
    border-style: solid;
    border-color: red;

    margin: 10px;
}