.first{
    background-color: blue;

    width: 500px;
    
    position: relative;

    border: 5px;
    border-style: solid;
    border-color: blue;
}
.second{
    background-color: red;
    height: 150px;
    width: 500px;
}
.third{
    background-color: green;
    height: 150px;
    width: 500px;
}