.first{
    background-color: blue;
    height: 150px;
    width: 600px;
}
.second{
    background-color: red;
    height: 150px;
    width: 600px;
}
.third{
    background-color: green;
    height: 150px;
    width: 600px;
}