body{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 960px;

    border: solid 2px black;
    margin: 0 auto;
}
.header-image{
    width: 100%;
    height: 200px;

    background-image: url(../img/header.jpg);
    
    background-size: 100%;
    border-bottom: solid 2px black;

    position: relative;
}
.header-text{
    position: absolute;
    left:20px;
    top:20px;
    font-size: 48px;

    text-shadow: 2px 2px 2px black;
    color: white;
}

.menu{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 2px black;
}

.content{
    display: flex;
    border-bottom: solid 2px black;
}

.left-content{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.center-content{
    display: flex;
    flex-direction: column;
    width: 520px;

    border-left: solid 2px black;
    border-right: solid 2px black;
}

.right-content{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.footer{
    display: flex;
}

.left-footer{
    width: 734px;
    border-right: solid 2px black;
}

.right-footer{
    width: 240px;
    text-align: right;
}

a.current-page{
    background-color: #189100;
    color: white;
}
.page{
    color: white;
    background-color: #0b3f00;
}

.square-markers{
    list-style-type: square;
}
.markers{
    list-style-type: circle;
}
.important{
    background-color: #ADFF2F;
}

a{ 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 
a:hover{
    text-decoration: underline;
}

.menu-point{
    font-size: 24px;
    font-weight: 200;
}
