.main-news{
    background-color: LightCyan;
    text-align: center;
}
.color{
    color: green;
    font-weight:bold;
    font-size: 16px;
}
.color2{
    color: red;
    font-weight:bold;
    font-size: 16px;
}