.wrapper{
    background-color: cyan;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    position: relative;
}

.leftbottom{
    background-color: red;
    width: 20%;
    height: 20%;
    border-top: 3px solid black;
    border-right: 3px solid black;
    position: absolute;
    bottom: 0px;
}
