.top{
    background-color: red;
    height: 200px;
    width: 100%;
    
}
.wrapper{
    border: 3px solid black;
}
.second-wrapper{
    display: flex;
}
.left{
    position: relative;
    background-color: green;
    width: 70%;
    height: 200px;
    border-top: 3px solid black;
}
.right{
    background-color: blue;
    width: 30%;
    height: 200px;
    border-top: 3px solid black;
    border-left: 3px solid black;
}
