.wrapper{
    display: flex;
    border: 3px solid black;
}
.top{
    background-color: red;
    height: 200px;
}
.second-wrapper{
    width:90%;
    position: relative;
}

.left{
    background-color: green;
    width: 10%;
    height: 400px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.bottom{
    background-color: blue;
    height: 200px;
    border-top: 3px solid black;
}
