.first{
    background-color: yellow;
    grid-area: first;
}

.second{
    background-color: yellow;
    grid-area: second;
}

.third{
    background-color: yellow;
    grid-area: third;
}

.fourth{
    background-color: yellow;
    grid-area: fourth;
}

.fifths{
    background-color: yellow;
    grid-area: fifth;
}

.sixth{
    background-color: yellow;
    grid-area: sixth;
}

.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: 
    "first first second"
    "first first third"
    "sixth fifth fourth";
}