.main-news{
    background-color: LightCyan;
    text-align: center;
}
.first{
    text-align: center;
    color: MidnightBlue;
    font-size: 18px;
}
.second{
    font-size: 18px;
}
.attention{
    background-color: LightCyan;
    color: red;
    font-size: 28px;
    text-align: center;
}
.for-teachers{
    background-color: LightCyan;
    color: red;
    font-size: 28px;
    text-align: center;
}
.square-markers{
    list-style-type: square;
}
.markers{
    list-style-type: circle;
}
.important{
    background-color: #ADFF2F;
}
.color{
    color: green;
    font-weight:bold;
    font-size: 16px;
}
.color2{
    color: red;
    font-weight:bold;
    font-size: 16px;
}