body{
    margin: 0px;
    padding: 0px;

    background-color: #AFEEEE;
}

div{
    margin-bottom: 15px;
    font-size: 22px;
}

input{
    width: 100%;
    box-sizing: border-box;
}

button{
    width: 100%;
    font-size: 22px;
}

.center-text{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.hidden-div{
    display: none;
}