body{
    margin: 5px;
    padding: 0px;

    background-color: #c0bded;
}

.hidden-div{
    display: none;
}

div{
    margin-bottom: 15px;
}

input{
    width: 100%;
}

button{
    width: 100%;
}

select{
    width: 100%;
}