body{
    margin: 0px;
    padding: 0px;

    background-color: #7FFFD4;
}

.div-flex{
    display: flex;

    justify-content: space-around;
}

.num-field{
    width: 50px;
    height: 50px;
    
    background-color:  #ADFF2F;
    border: 3px dashed black;


    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 5px 5px 5px #808080;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    width: 100%;
    font-size: 24px;
}

.name{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.result{
    font-size: 28px;
}