h1{
    color: #4B0082;
    background-color: #E0FFFF;
    height: 100px;
}
h2{
    color: #55148B;
}
ul{
    color: #4B0082;
    background-color: #E0FFFF;
}
p {
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
}
td{
    vertical-align: top;
    text-align: left;
}
img{
    height: 250px;
}
table{
    background-color: #E0FFFF;
}
.special{
    background-color: #E0FFFF;
}
